// Color definitions
@addressBg: rgb(132,230,255);
@addMarkerFailure: rgb(230, 20, 20);
@addMarkerFailureBg: rgb(60, 0, 0);

section#address {
    opacity: 0.7;
    position: fixed;
    left: 90px;
    z-index: 999;
    background-color: @addressBg;

    -webkit-border-bottom-left-radius: @borderRadius;
    -moz-border-radius-bottomleft: @borderRadius;
    border-bottom-left-radius: @borderRadius;
    -webkit-border-bottom-right-radius: @borderRadius;
    -moz-border-radius-bottomright: @borderRadius;
    border-bottom-right-radius: @borderRadius;

    p#addressForm {
        margin: 0;
        padding: 10px;

        input#addressInput {
            width: 400px;
        }
    }

    p#markerStatus {
        margin: 0;
        padding: 10px;
        color: @addMarkerFailure;
        background-color: @addMarkerFailureBg;
    }
    
    p.markerStatus-enter {
    	opacity: 1;
    }

    p.markerStatus-leave {
    	opacity: 0;
    	-webkit-transition: 1s linear all;
    	transition: 1s linear all;
    }
}

section#address:hover {
    opacity: 1;
}