@import "address.less";
@import "list.less";
@import "map.less";

// Use Google Web Font "Roboto"
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

// Color definitions
@text: rgb(20,20,20);
@pageBg: rgb(230, 230, 230);

// General styles
@borderRadius: 5px;

html, body {
    height:100%;
}

body {
    color: @text;
    background-color: @pageBg;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}