@hoveredMarker: rgb(2,24,35);

section#list {
    position: fixed;
    z-index: 999;
    bottom: 0px;
    left: 0px;

    opacity: 0.7;
    background-color: @widgetBg;

    -webkit-border-top-right-radius: @borderRadius;
    -moz-border-radius-topright: @borderRadius;
    border-top-right-radius: @borderRadius;

    p#markerListForm {
        margin: 0;
        padding: 10px;
        text-align: center;

        a#showAllMarkers {
            display: inline-block;
            padding: 7px;
            cursor: pointer;
            -webkit-border-radius: @borderRadius;
            -moz-border-radius: @borderRadius;
            border-radius: @borderRadius;
        }

        a#showAllMarkers:hover {
            background-color: @hoveredMarker;
        }
    }

    ul#markerList {
        list-style-type: none;
        margin: 0;
        padding: 10px;

        li {
            padding: 7px;
            cursor: pointer;
            -webkit-border-radius: @borderRadius;
            -moz-border-radius: @borderRadius;
            border-radius: @borderRadius;

            span.markerAddress {
                margin-left: 5px;
            }
        }

        li:hover {
            background-color: @hoveredMarker;
        }
    }
}

section#list:hover {
    opacity: 1;
}