<!doctype html>
<html id="rootElem">
    <head>
        <title>Mapformance</title>
        <script src="bower_components/angular/angular.js"></script>
        <script src="app/app.js"></script>
        <script src="app/services/GeoCoderService.js"></script>
        <script src="app/controllers/AddressController.js"></script>
        <script src="app/controllers/MarkerListController.js"></script>
        <script src="app/controllers/MapController.js"></script>
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <section id="address" ng-controller="AddressController">
            <p id="addressForm">
                <label id="addressInputLabel" for="addressInput">Enter address:</label>
                <input id="addressInput" type="text" placeholder="Rigaer Str. 4, 10247 Berlin" ng-model="query" ng-keypress="addMarkerForAddress($event)" required>
                <button ng-click="addMarkerForAddress()">Add marker</button>
            </p>
            <p id="markerStatus" class="addMarkerFailure">
                Failed to add marker: Reason
            </p>
        </section>
        <section id="list" ng-controller="MarkerListController as list">
            <p id="markerListForm" ng-if="total >= 2">
                <button id="removeAllMarkers" ng-click="removeAllMarkers()">
                    Remove all <span id="totalNumMarkers" ng-bind="total"></span> Markers
                </button>
            </p>
            <ul id="markerList" ng-repeat="address in markers" ng-if="total >= 1">
                <li>
                    <button class="removeMarker" ng-click="removeMarker($index, address)">Remove</button>
                    <span class="markerAdress">{{ address }}</span>
                </li>
            </ul>
        </section>
        <section id="map" ng-controller="MapController as map"></section>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"></script>
    </body>
</html>