<!doctype html>
<html id="rootElem"><!-- ng-app="mapformanceApp" -->
    <head>
        <script src="bower_components/angular/angular.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/AddressController.js"></script>
        <script src="app/controllers/MapController.js"></script>
        <link rel="stylesheet" href="css/mapformance.css">
    </head>
    <body>
        <h1>Mapformance</h1>
        <div class="component" ng-controller="AddressController as address">
            <h2>Address</h2>
            Query: <input type="text" ng-model="address.query" required>
            <button class="btn" ng-click="address.searchForAddress()">Search</button>
        </div>
        <div class="component" ng-controller="MapController as map">
            <h2>Map</h2>
            <div id="googleMap" class="map-canvas"></div>
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=onGoogleReady"></script>
    </body>
</html>